* {
  padding: 0; 
  margin: 0
}

body {
		overflow : hidden;
		background: url('../assets/img/bg.jpg');
		background-size: 100%;
}

#hitText {
    font-size : 30px;
    position: absolute;
    top : 30px;
    left : 30px;
    float : left;
}


@font-face {
	font-family: 'hand';
	src: url('../assets/font/hand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
