* {
  padding: 0; 
  margin: 0
}

body {
		overflow : hidden;
		background: url('../assets/img/bg.jpg');
		background-size: 100%;
}

#canvas-wrapper {
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
}


@font-face {
	font-family: 'hand';
	src: url('../assets/font/hand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
