* {
  padding: 0; 
  margin: 0
}

body {
	overflow : hidden;
	background: url('../assets/img/bg.jpg');
	background-size: 100%;
}

button.bt {
	padding: 0 7px;
	margin: 0;
	color: white;
	text-shadow: 0 -1px 0px black;
	border: none;
	background: none;
	font-size: 17px;
	height: 40px;
	box-shadow: 0px 4px 7px 0px #00000070;
	font-family: hand;
	cursor: pointer;
	outline: none;
}

button.bt.bt-blue {
	background: url('/assets/img/bt-blue.png');
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	border: 7px solid red;
	border-image: url(/assets/img/bt-blue.png) 30 30;
	border-radius: 20px;
}

button.bt.bt-yellow {
	background: url('/assets/img/bt-yellow.png');
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	border: 7px solid red;
	border-image: url(/assets/img/bt-yellow.png) 32 38;
	border-radius: 20px;
	color: black;
}

#bt-start {
	position: absolute;bottom: 40px;
	left: calc(50% - 120px);
}

#bt-hard {
	position: absolute;bottom: 40px;
	left: calc(50% + 20px);
}

.page {
	background: url('../assets/img/bg.jpg');
	background-size: 100%;
	background-position-y: 200px;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
}

#canvas-wrapper {
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
}

#ui .time-line {
    font-family : hand;
    font-size : 24px;
	position: absolute;
	left: 3%;
    top : 1%;
    width : 100%;
}

#ui .arrow-line {
	position: absolute;
    top : 4%;
    width : 100%;
    display :flex;
}

#ui .arrow-line::after,#ui .arrow-line::before {
    flex : 1;
    display : block;
    content : "";
}

#ui .arrow-line .marker {
    width : 60px;
    height : 60px;
    display : block;
    background-position : center;
	background-size: contain;
}

#ui .arrow-line .mark-1 {
    background-image : url("../assets/marker_1.png");
}
#ui .arrow-line .mark-2 {
    background-image : url("../assets/marker_2.png");
    transform : rotate(45deg);
}
#ui .arrow-line .mark-3 {
    background-image : url("../assets/marker_3.png");
    transform : rotate(90deg);
}
#ui .arrow-line .mark-4 {
    background-image : url("../assets/marker_4.png");
    transform : rotate(135deg);
}
#ui .arrow-line .mark-5 {
    background-image : url("../assets/marker_5.png");
    transform : rotate(180deg);
}
#ui .arrow-line .mark-6 {
    background-image : url("../assets/marker_6.png");
    transform : rotate(225deg);
}
#ui .arrow-line .mark-7 {
    background-image : url("../assets/marker_7.png");
    transform : rotate(270deg);
}
#ui .arrow-line .mark-8 {
    background-image : url("../assets/marker_8.png");
    transform : rotate(315deg);
}
#ui .arrow-line .mark-9 {
    background-image : url("../assets/marker_9.png");
    transform : rotate(360deg);
}

.logo-wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.logo-wrapper .planet-wrapper {
	width: 100%;
	height: 100%;
	transform: scale(0.2);
	opacity: 0;
	transform-origin: 50%;
	transition: opacity linear 300ms, transform ease-out 300ms;
	transition-delay: 200ms;
}

.logo-wrapper .pc-wrapper {
	width: 20%;
	height: 20%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.2);
	opacity: 0;
	transform-origin: 50%;
	transition: opacity linear 300ms, transform ease-out 300ms;
	transition-delay: 200ms;
}

.page.intro.active .pc-wrapper.pc-1-wrapper {
	transform: translate(-137%, -170%);
	opacity: 1;
	transition-delay: 350ms;
}

.page.intro.active .pc-wrapper.pc-2-wrapper {
	opacity: 1;
	transform: translate(40%, -132%);
	transition-delay: 400ms;
}

.page.intro.active .pc-wrapper.pc-3-wrapper {
	opacity: 1;
	transform: translate(-140%, 40%);
	transition-delay: 450ms;
}

.page.intro.active .logo-wrapper .planet-wrapper {
	transform: scale(0.8);
	opacity: 1;
}

.logo-wrapper .title-1-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-11%, -9%) scale(0.2);
	transform-origin: 100%, 50%;
	opacity: 0;
	transition: opacity linear 300ms, transform ease-out 300ms;
	transition-delay: 250ms;
}

.page.intro.active .title-1-wrapper {
	transform: translate(-11%, -9%) scale(1.3);
	opacity: 1;
}

.logo-wrapper .title-2-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	transform: translate(16%, 6%) scale(0.2);
	opacity: 0;
	transition: opacity linear 300ms, transform ease-out 300ms;
	transition-delay: 300ms;
}

.page.intro.active .title-2-wrapper {
    transform: translate(16%, 6%) scale(1.1);
	opacity: 1;
}

@keyframes planet-rotate {
	0% {
		transform: rotate(-80deg);
	}
	100% {
		transform: rotate(280deg);
	}
}

@keyframes pc-float {
	0% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-10%);
	}
}

.logo-wrapper .planet {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: planet-rotate 25s infinite linear;
}

.logo-wrapper .title-1 {
	width: 100%;
	height: 100%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-wrapper .title-2 {
	width: 100%;
	height: 100%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-wrapper .pc {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	animation: pc-float 2s infinite ease-in-out;
}

@font-face {
	font-family: 'hand';
	src: url('../assets/font/hand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
