<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>Transtellar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/phaser/2.6.2/phaser.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="js/util_fun.js"></script>
    <script src="js/smoother.js"></script>
</head>
<body>
    <div id="canvas-wrapper"></div>
    <div id="ui"></div>
    <script type="text/x-template" id="vue-root">
        <div id="ui">
            <div class="ui-overlay" v-if="state === 'gaming'"></div>
            <div class="page intro" v-if="state === 'intro'" :class="{'active':introActive}">
                <div class="logo-wrapper" ref="logoWrapper">
                    <div class="planet-wrapper">
                        <div class="planet" style="background-image: url('/assets/img/title-planet.png')">
                        </div>
                    </div>
                    <div class="title-1-wrapper">
                        <div class="title title-1" style="background-image: url('/assets/img/title-1.png')">
                        </div>
                    </div>
                    <div class="title-2-wrapper">
                        <div class="title title-2" style="background-image: url('/assets/img/title-2.png')">
                        </div>
                    </div>
                    <div class="pc-wrapper pc-1-wrapper">
                        <div class="pc pc-1" style="background-image: url('/assets/img/pc-1.png')"></div>
                    </div>
                    <div class="pc-wrapper pc-2-wrapper">
                        <div class="pc pc-2" style="background-image: url('/assets/img/pc-2.png')"></div>
                    </div>
                    <div class="pc-wrapper pc-3-wrapper">
                        <div class="pc pc-3" style="background-image: url('/assets/img/pc-3.png')"></div>
                    </div>
                </div>
            </div>
            <div class="page" v-if="state === 'over'"></div>
        </div>
    </script>
    <script src="js/hammer.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/game.js"></script>
</body>
</html>

